.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 0px;
}

.btn {
  padding: 7px 11px;
  background-color: blue;
  color: white;
  font-weight: 600;
  border-radius: 8px;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(41, 41, 92);
}

.clear {
  background-color: rgb(183, 32, 32);
  padding: 7px 11px;
  color: white;
  font-weight: 600;
  border-radius: 8px;
}

.clear:hover{
  cursor: pointer;
  background-color: rgb(205, 26, 26);
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.sort-button {
  position: absolute;
  top: 120px;
}

.sort-button  ul {
  border-radius: 6px;
  padding: 5px 10px;
  background-color: rgb(8, 43, 44);
}

.dropdown-text {
  font-size: 13px;
  color: white;
 
}

.dropdown-text:hover{
  cursor: pointer;
  background-color: rgb(15, 82, 84);
}